<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter>dk.medcom.video.api.logging.ShedlockSqlLoggingFilter</filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %X{correlation-id} - %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="dk.medcom.url.handler" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="dk.medcom.audit" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>